/* CSS Variables */
:root {
    /*Colors*/
    --black: #151515;
    --green: #4EE1A0;
    --dark-grey: #242424;
    --grey: #d9d9d9;
    --white: #FFFFFF;

    /*REM Conversions*/
    --16px: 1rem; /* button/inputs font-size */
    --18px: 1.125rem; /* paragraph font-size */
    --24px: 1.5rem; /* heading M font-size  */
    --26px: 1.625rem; /* button/inputs  line-height */
    --28px: 1.75rem; /* paragraph line-height  */
    --32px: 2rem; /* heading M line-height  */
    --40px: 2.5rem; /* heading XL font-size on mobile  */
    --48px: 3rem; /* heading L font-size  */
    --56px: 3.5rem; /* heading L line-height  */
    --72px: 4.5rem; /* heading XL font-size on tablet  */
    --88px: 5.5rem; /* heading XL font-size and line-height*/
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
    font-weight: 500 700;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--black);
    color: var(--white);
    overflow-x: hidden;
}

@media screen and (max-width: 374px) {
    :root {
        font-size: calc(4vw); /* for smaller screens */
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header Related */
.container {
    margin: 0 1rem; /* ensures hero heading doesn't break on smaller screens */
}

.header {
    position: absolute;
    width: 100%;
    z-index: 10;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

header nav {
    padding-top: 20px;
}

.social-icon {
    width: 24px;
    height: 24px;
    background-color: white;
    mask-size: 24px 24px;
    -webkit-mask-size: 24px 24px;
    transition: background-color 400ms ease-in-out;

    cursor: pointer;
}

.social-icon:hover {
    background-color: var(--green);
}

.github-icon {
    -webkit-mask-image: url('./assets/images/icon-github.svg');
    mask-image: url('./assets/images/icon-github.svg');
}

.fem-icon {
    -webkit-mask-image: url('./assets/images/icon-frontend-mentor.svg');
    mask-image: url('./assets/images/icon-frontend-mentor.svg');
}

.linkedin-icon {
    -webkit-mask-image: url('./assets/images/icon-linkedin.svg');
    mask-image: url('./assets/images/icon-linkedin.svg');
}

.twitter-icon {
    -webkit-mask-image: url('./assets/images/icon-twitter.svg');
    mask-image: url('./assets/images/icon-twitter.svg');
}

.text-logo {
    line-height: var(--32px);
    font-size: var(--26px);
    font-weight: 700;
}

.social-icons {
    display: flex;
    gap: 25px;
}

.social-icons img {
    width: 20px;
}

@media (min-width: 768px) {
    .container {
        max-width: 708px;
        margin: 0 auto;
    }

    nav {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        gap: unset; /* needed for mobile only */
    }

    header nav {
        padding-top: 32px;
    }

    header .social-icons {
        margin-right: 30px;
    }

    .text-logo {
        font-size: var(--32px);
        line-height: 100%;
        font-weight: 700;
    }

    .social-icons {
        gap: 32px;
    }

    .social-icons img {
        width: 24px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1110px;
    }
}

/* Hero Section */

.hero-section {
    margin-bottom: 80px;
    /*overflow: hidden;*/
}

.hero-section__image {
    width: 174px;
    height: 383px;
    margin-bottom: 40px;
}

.hero-section::before {
    content: "";
    position: absolute;
    width: 530px;
    height: 129px;

    background-image: url("./assets/images/pattern-rings.svg");
    background-size: 530px;
    background-repeat: no-repeat;

    top: 124px;
    left: -342px;

    display: block;
    z-index: -1;
}

.hero-section__inner {
    text-align: center;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}

.hero-section__text-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.hero-section__inner::after {
    content: "";
    position: absolute;
    width: 129px;
    height: 129px;

    background-image: url("./assets/images/pattern-circle.svg");

    top: 256px;
    right: -85px;

    display: block;
}

@media (min-width: 768px) {
    .hero-section__image {
        display: none;
    }

    .hero-section {
        background-image: url("./assets/images/image-profile-tablet.webp");
        background-repeat: no-repeat;
        background-size: 42.2%;
        background-position: right;
        /*height: 600px;*/

        margin-bottom: 60px;
    }

    .hero-section::before {
        top: 86px;
        left: -265px;
    }

    .hero-section__inner {
        text-align: left;

        flex-direction: row;
        justify-content: space-between;
        padding-top: 151px;
        /*align-items: flex-end;*/
    }

    .hero-section__text-content {
        align-items: flex-start;
        width: 445px;
    }

    .hero-section__inner::after {
        top: unset;
        right: -110px;
    }
}

@media (min-width: 1440px) {
    .hero-section {
        background-image: url("./assets/images/image-profile-desktop.webp");
        background-size: 445px 720px;
        height: 720px;
        max-width: 1100px;
        margin: 0 auto 104px; /* to same as container, plus spacing at bottom */
    }

    .hero-section:before {
        background-position: left -40px top;
        top: 133px;
        right: 0;
    }

    .hero-section__inner {
        padding-top: 198px; /* to match figma on desktop; can't achieve w margin on nav, it's absolute */
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-between;

        height: 100%;
    }

    .hero-section__text-content {
        width: 706px;
        justify-content: center;
    }

    .hero-section__inner::after {
        bottom: 70px;
        right: 375px;
    }
}

.Heading-XL {
    font-size: var(--40px);
    line-height: 100%;
    font-weight: 700;
    letter-spacing: -1px;
}

.hero-heading {
    margin-bottom: 60px;
}

.heading-break__mobile {
    display: inline-block; /* We use it to break sentence on mobile*/
}

.heading-break__tablet {
    display: none; /* We use it to break sentence on tablet*/
}

.hero-section__description {
    max-width: 343px;
}

@media (min-width: 768px) {

    .Heading-XL {
        font-size: 72px;
        letter-spacing: -2px;
    }

    .heading-break__mobile {
        display: none; /* We use it to break sentence on mobile*/
    }

    .heading-break__tablet {
        display: inline-block; /* We use it to break sentence on tablet*/
    }


}

@media (min-width: 1440px) {


    .hero-heading {
        margin-bottom: 43px;
    }

    .Heading-XL {
        font-size: var(--88px);
        letter-spacing: -2.5px;
    }

    .heading-break__tablet {
        display: none; /* We use it to break sentence on tablet*/
    }
}

.green-underline {
    position: relative;
}

.green-underline::after {
    content: '';
    position: absolute;
    bottom: 0.4rem;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: var(--green);
    z-index: -1;
}

p {
    font-size: var(--16px);
    line-height: var(--26px);
    color: var(--grey);
}

.hero-section__description {
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    p {
        font-size: var(--18px);
        line-height: var(--28px);
    }

    .hero-section__description {
        width: 385px; /* is 445px in Figma, but didn't match visually */
        margin-bottom: 34px;
    }
}


button {
    border: none;
    padding: 0 0 10px;

    cursor: pointer;
}

button:hover {
    color: var(--green);
}

.underline {
    font-size: var(--16px);
    line-height: var(--26px);
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    padding-bottom: 10px;

    color: var(--white);
    background-color: transparent;
    border-bottom: 2px solid var(--green);
}

.underline:hover {
    color: var(--green);
}

/*Skills section*/

.skills {
    border-top: 1px solid white;
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 24px;
    padding-bottom: 40px;
    border-bottom: 1px solid;
    margin-bottom: 80px;

    justify-items: center;
    text-align: center;
    position: relative;
}

.skills-rings {
    position: absolute;
    bottom: -65px;
    right: -358px;
    z-index: 100;
}

.heading-L {
    font-size: var(--48px);
    line-height: var(--56px);
    letter-spacing: -1.5px;
    margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
    .skills {
        padding-top: 52px;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 52px;

        padding-bottom: unset; /* only needed for mobile */
        border-bottom: unset; /* only needed for mobile */
        margin-bottom: 100px;

        justify-items: flex-start;
        text-align: left;
    }

    .heading-L {
        font-size: var(--48px);
        line-height: var(--56px);
        letter-spacing: -1.5px;
        margin-bottom: 14px;
    }
}

@media screen and (min-width: 1440px) {
    .skills {
        padding-top: 72px;

        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 58px;

        margin-bottom: 140px;
    }

    .skills-rings {
        position: absolute;
        bottom: -55px;
        right: -440px;
        z-index: 100;
    }
}

/*Projects area*/

.projects-area {
    margin-bottom: 80px;
}


.projects-area__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    align-content: center;

    margin-bottom: 40px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 40px;
    justify-items: center;
}

@media screen and (min-width: 768px) {
    .projects-area {
        margin-bottom: 100px;
    }

    .projects-area__header {
        margin-bottom: 60px;
    }

    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 22px;
        grid-row-gap: 60px;
    }
}


.projects-grid__item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    position: relative;
    width: 100%;
}

.projects-grid__item__image-wrapper {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-bottom: 20px;
}

.projects-grid__item__links {
    display: flex;
    gap: 30px;
}

@media screen and (min-width: 1440px) {
    .projects-area {
        margin-bottom: 139px;
    }

    .projects-area__header {
        margin-bottom: 80px;
    }

    .projects.grid {
        grid-column-gap: 30px;
        grid-row-gap: 69px;
    }

    .projects-grid__item__image-wrapper {
        width: 540px;
        height: 400px;
    }

    .projects-grid__item__links {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center;
        z-index: 10;

        flex-direction: column;
        align-items: center;
        gap: 48px;

        transition: opacity 400ms ease-in-out;
        opacity: 0;
    }

    .projects-grid__item__image {
        width: 100%;
        transition: opacity 400ms ease-in-out;
    }

    .projects-grid__item:hover .projects-grid__item__image {
        opacity: 0.25;
    }

    .projects-grid__item:hover .projects-grid__item__links {
        opacity: 1;
    }
}

.projects-grid__item__image {
    width: 100%;
}

.heading-M {
    font-size: var(--24px);
    line-height: var(--32px);
    text-transform: uppercase;
    margin-bottom: 7px;
}

.projects-grid__item__tags {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
}

/*Contact area*/

.contact-area {
    background: var(--dark-grey);
    padding-top: 84px;
}

.contact-area__inner {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid white;
    align-items: center;
    padding-bottom: 92px;

    text-align: center;
}

.contact-area__text-content {
    width: 100%;
    margin-bottom: 50px;
}

.contact-heading {
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .contact-area__text-content {
        width: 445px;
        margin-bottom: 48px;
    }

    .contact-heading {
        margin-bottom: 36px;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 445px;
    }
}

@media screen and (min-width: 1440px) {
    .contact-area__inner {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding-bottom: 92px;

        text-align: unset;
    }

    .contact-area__text-content {
        width: 445px;
    }
}

.contact-form__submit-button {
    align-self: flex-end;
}

.contact-form input, .contact-form textarea {
    width: 100%;

    border: none;
    border-bottom: 1px solid var(--white);
    background-color: transparent;
    color: var(--white);
    font-family: "Space Grotesk", sans-serif;
    font-size: var(--16px);
    line-height: var(--26px);
    letter-spacing: -0.2px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-top: 16px;

    outline: none;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    opacity: 0.5;
    text-transform: uppercase;
}

textarea {
    resize: none;
}

.contact-form input:focus-visible, .contact-form textarea:focus-visible {
    border-bottom-color: green;
}

.contact-form input:focus-visible:invalid, .contact-form textarea:focus-visible:invalid {
    border-bottom-color: red;
}

.contact-form__input-wrapper {
    position: relative;
}

.invalid-input-icon {
    display: none;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    right: 0;
    translate: 0 -50%;
}

.contact-form input:focus-visible:invalid ~ .invalid-input-icon,
.contact-form textarea:focus-visible:invalid ~ .invalid-input-icon {
    display: block;
}

/*Footer*/

footer {
    background-color: var(--dark-grey);
    padding-bottom: 92px;
}

footer nav {
    padding-top: 47px;
}