/* CSS Variables */
:root {
    /*Colors*/
    --black: #151515;
    --green: #4EE1A0;
    --dark-grey: #242424;
    --grey: #d9d9d9;
    --white: #FFFFFF;

    /*REM Conversions*/
    --16px: 1rem; /* button/inputs font-size */
    --18px: 1rem; /* paragraph font-size */
    --24px: 1rem; /* heading M font-size  */
    --26px: 1rem; /* button/inputs  line-height */
    --28px: 1rem; /* paragraph line-height  */
    --32px: 2rem; /* heading M line-height  */
    --48px: 1rem; /* heading L font-size  */
    --56px: 1rem; /* heading L line-height  */
    --88px: 5.5rem; /* heading XL font-size and line-height*/
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
    font-weight: 500 700;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--black);
    color: var(--white);
}

/* Header Related */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 24px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-logo {
    font-size: var(--32px);
    line-height: 100%;
    font-weight: 700;
}

.social-icons {
    display: flex;
    gap: 32px;
}

.social-icons img {
    width: 24px;
}

/* Hero Section */

.hero-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*place profile image im backgound*/
    background-image: url("./assets/images/image-profile-desktop.webp");
    background-repeat: no-repeat;
    background-size: 445px 720px;
    height: 720px;
    background-position: right;
}

.hero-section__text-content {
    width: 756px;
}

.Heading-L {
    font-size: var(--88px);
    line-height: 100%;
    font-weight: 700;
}

p {
    font-size: var(--18px);
    line-height: var(--28px);
    color: var(--grey);
}

button {
    font-size: var(--16px);
    line-height: var(--26px);
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    text-transform: uppercase;

    color: var(--white);
    background-color: transparent;
    border: none;
    padding: 0 0 10px;
    border-bottom: 2px solid var(--green);
    cursor: pointer;
}

